body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins',
  monospace;
}
.text-style-bold {
font-weight: bold;
}
.footer {
  list-style-type: none;
  /* width: 1440px;
  height: 442px; */
  /* margin: 718px 0 0 0; */
  /* padding: 78.1px 0 0; */
  background-color: #042430;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  padding: 24px;
  /* line-height: 1.53; */
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.fixado{
  position: relative;
  bottom: 0;
}
.bottom {
  height: 65px;
  /* margin: 83.2px 0 0 0; */
  background-color: #021f29;
  font-size: 14px;
}
.bottom .text-align-left{
  text-align: left;
  padding: 12px 40px 12px 0;

}
.bottom .text-align-right{
  text-align: right;
  padding: 12px 0 12px 40px;
  
}
